body {

}

.topnav {
	background-color: #222;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #eee;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 1.2em;
}

.topnav a:hover {
	background-color: #eee;
	color: #222;
}

.topnav a.active {
	background-color: #0a0;
	color: white;
}
