/*
	dark green: #435334 (67,83,52)
	medium green: #9eb384 (158,179,132)
	light green: #cedebd (206,222,189)
	tan: #faf1e4 (250,241,228)
	light gray: #eee
	rich: #222
*/
	
body {
	font-size: 18px;
	background-color: #faf1e4; /*tan*/
}

h1, h3 {
	line-height: 0.8em;
}

header {
	background-color: #222;
	color: #eee;
	padding: 0px;
}

.topnav {
	background-color: #435334;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #eee;
	text-align: center;
	padding: 0px 50px;
	text-decoration: none;
	font-size: 1.5em;
}

.topnav a:hover {
	background-color: #9eb384;
	color: #222;
}

.topnav a.active {
	background-color: #cedebd;
	color: #222;
}
