/*
	dark green: #435334 (67,83,52)
	medium green: #9eb384 (158,179,132)
	light green: #cedebd (206,222,189)
	tan: #faf1e4 (250,241,228)
	light gray: #eee
	rich: #222
*/
	
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	background-color: #faf1e4; /*tan*/
}

header {
	background-color: #435334;
	color: #eee;
	padding: 5px 20px;
}

p.title {
	font-size: 2em;
	line-height: 0.5em;
	padding:0px;
}

p.subtitle {
	font-size: 1.5em;
	line-height: 0.5em;
	padding:0px;
}

.topnav {
	background-color: #cedebd;
	overflow: hidden;
	margin: 0px 50px 10px 50px;
}

.topnav a {
	float: left;
	color: #222;
	text-align: center;
	padding: 10px 50px;
	text-decoration: none;
	font-size: 1.5em;
}

.topnav a:hover {
	background-color: #9eb384;
	color: #222;
}

.topnav a.active {
	background-color: #eee;
	color: #222;
}
